@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

$primary: #333333;
$secondary: #ddefff;
$accent: #3b9de8;

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}
a {
	color: $primary;
	text-decoration: none;
	&:hover {
		opacity: 80%;
	}
}

p {
	margin: 0;
}

.container {
	margin: 0 auto;
	width: calc(100% - 56px);
}
.title {
	font-size: 24px;
	margin: 0;
}
.main {
	margin-top: 20px;
}

@media (min-width: 480px) {
	.title {
		font-size: 28px;
	}
}

@media (min-width: 768px) {
	.title {
		font-size: 32px;
	}
}

@media (min-width: 1024px) {
	.title {
		font-size: 36px;
	}
}

@media (min-width: 1440px) {
	.title {
		font-size: 40px;
	}
}

@media (min-width: 1920px) {
	.container {
		width: 1440px;
	}
}
