@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

$primary: #333333;
$secondary: #ddefff;
$accent: #3b9de8;

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
}
a {
	color: $primary;
	text-decoration: none;
	&:hover {
		opacity: 80%;
	}
}

p {
	margin: 0;
}

.container {
	margin: 0 auto;
	width: calc(100% - 56px);
}
.title {
	font-size: clamp(24px, 4vw + 1rem, 40px);
	margin: 0;
	text-align: center;
}

.page {
	display: flex;
	flex-direction: column;
	gap: 32px;
	min-height: 90vh;
}

.main {
	margin-top: 20px;
}

@media (min-width: 1920px) {
	.container {
		width: 1440px;
	}
}
